In [30]:
a = 10
b = 20
c = a + b
print c

30

In [31]:
mylist = ["apple" , "banana" , "guava"]
print mylist
thislist = list(("apple","banana","guava"))
print thislist

['apple', 'banana', 'guava']
['apple', 'banana', 'guava']

In [33]:
l = [1,2,3]
l2 = l*2
print l2

[1, 2, 3, 1, 2, 3]

In [32]:
l = [1,2,3]
l1 = [11,22,33]
l2 = l*2
l3 = l + l1
print l2,l3

[1, 2, 3, 1, 2, 3] [1, 2, 3, 11, 22, 33]

In [34]:
l = [1,2,3]
l1 = [11,22,33]
mylist = ["apple" , "banana" , "orange"]
newlist = [x if x != "banana" else "orange" for x in mylist]
print newlist

['apple', 'orange', 'orange']

In [35]:
list1 = ['physics' , 'chemistry' , 1997 , 2000]
list2 = [1,2,3,4,5,6,7]
print"list1[0] = ", list1[0]
print"list2[1:5] = ", list2[1:5]
print"list2[2:] = ", list2[2:]
print"list2[:2] = ", list2[:2]
print"list2[-2:] = ", list2[-2:]
print"list2[:-2] = ", list2[:-2]
print"list2[2:-2] = ", list2[2:-2]
print"list2[-2:2] = ", list2[-2:2]

list1[0] =  physics
list2[1:5] =  [2, 3, 4, 5]
list2[2:] =  [3, 4, 5, 6, 7]
list2[:2] =  [1, 2]
list2[-2:] =  [6, 7]
list2[:-2] =  [1, 2, 3, 4, 5]
list2[2:-2] =  [3, 4, 5]
list2[-2:2] =  []

In [36]:
list1 = ['physics','chemistry',1997,2000]
for i in list1:
    print(i)

physics
chemistry
1997
2000

In [37]:
list1 = ['physics','chemistry',1997,2000]
print list1
list1[2] = 100
print list1

['physics', 'chemistry', 1997, 2000]
['physics', 'chemistry', 100, 2000]

In [38]:
list1 = ['physics','chemistry',1997,2000]
print list1
list1[2] = 100
del list1[2];
print list1

['physics', 'chemistry', 1997, 2000]
['physics', 'chemistry', 2000]

In [39]:
list1 = ['physics','chemistry',1997,2000]
for i in list1:
    print(x)

orange
orange
orange
orange

In [40]:
list1 = ['physics','chemistry',1997,2000]
for i in range(len(list1)):
    print(list1[i])

physics
chemistry
1997
2000

In [41]:
list1 = ['physics','chemistry',1997,2000]
i = 0
while i < len(list1):
    print list1[i]
    i+=1

physics
chemistry
1997
2000

In [42]:
list1 = ['physics' , 'chemistry' , 1997 , 2000]
list2 = [1,2,3,4,5,6,7]
for x in list1:
    list2.append(x)
print list2

[1, 2, 3, 4, 5, 6, 7, 'physics', 'chemistry', 1997, 2000]

In [44]:
fruits = ['aaple', 'banana' , "cherry" ]
newlist0 = [x for x in range(10)]
newlist1 = [x for x in range(10) if x<5]
newlist2 = [x.upper() for x in fruits]

print newlist0,newlist1,newlist2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] [0, 1, 2, 3, 4] ['AAPLE', 'BANANA', 'CHERRY']

In [47]:
list1 = ["Python","Java",".Net","C","C++"]
print list1
list1.append("Ruby")
print list1
list1.extend("JS")
print list1
list1.insert(1,"Assembly")
print list1
list1.remove('C')
print list1
print sorted(list1)
print list1[::-1]

['Python', 'Java', '.Net', 'C', 'C++']
['Python', 'Java', '.Net', 'C', 'C++', 'Ruby']
['Python', 'Java', '.Net', 'C', 'C++', 'Ruby', 'J', 'S']
['Python', 'Assembly', 'Java', '.Net', 'C', 'C++', 'Ruby', 'J', 'S']
['Python', 'Assembly', 'Java', '.Net', 'C++', 'Ruby', 'J', 'S']
['.Net', 'Assembly', 'C++', 'J', 'Java', 'Python', 'Ruby', 'S']
['S', 'J', 'Ruby', 'C++', '.Net', 'Java', 'Assembly', 'Python']

In [54]:
bool("abc")
bool(123)

True

In [51]:
print bool(False)
print bool(None)
print bool(0)
print bool("")
print bool(())
print bool([])
print bool({})

False
False
False
False
False
False
False

In [55]:
def fn(mylist):
    mylist.append([1,2,3,4])
    print "Values inside my function : ",mylist
    return
mylist = [10,20,30]
fn(mylist)
print "Values outside my function : ",mylist

Values inside my function :  [10, 20, 30, [1, 2, 3, 4]]
Values outside my function :  [10, 20, 30, [1, 2, 3, 4]]

In [57]:
def printinfo(name , age = 35):
    print "Name : ",name
    print "Age : ",age
    return
printinfo("Parth")
printinfo("Parth" , 25)

Name :  Parth
Age :  35
Name :  Parth
Age :  25

In [60]:
def change(mylist):
    mylist = [0,1,2]
    print "Values inside my function : ",mylist
    return
mylist = [10,20,30]
change(mylist)
print "Values outside my function : ",mylist

Values inside my function :  [0, 1, 2]
Values outside my function :  [10, 20, 30]

In [61]:
x = 88

In [62]:
x

88

In [65]:
def change(*mylist):
    for i in mylist:
        print(i)
    return
change([10,20,30])
change(20)
change("C", "M" , "D" , "A")

[10, 20, 30]
20
C
M
D
A

In [70]:
sum = lambda arg1,arg2 : arg1+arg2

print sum(10,20)
print sum("Parth "," Shukla")
print sum([1,2,3],["One","two","three"])

30
Parth  Shukla
[1, 2, 3, 'One', 'two', 'three']

In [76]:
def myfun(n):
    return lambda a:a*n
mydoubler = myfun(2)
print mydoubler(2525252525)

5050505050

In [89]:
thisdict = {1:"Python",2:"android",3:"windows"}
print thisdict
print thisdict[2]
print thisdict[3]
print thisdict.keys()
print thisdict.values()
thisdict.update({4:"Black Berry"})
print thisdict
thisdict[4] = "Google"
print thisdict
dict4 = dict({1:'apple',2:'banana'})
print dict4
dict5 = dict([(1,'one'),(2,'two')])
print dict5

{1: 'Python', 2: 'android', 3: 'windows'}
android
windows
[1, 2, 3]
['Python', 'android', 'windows']
{1: 'Python', 2: 'android', 3: 'windows', 4: 'Black Berry'}
{1: 'Python', 2: 'android', 3: 'windows', 4: 'Google'}
{1: 'apple', 2: 'banana'}
{1: 'one', 2: 'two'}

In [90]:
marks = {}.fromkeys(['Maths', 'English', 'Science'],0)
print marks
for item in marks.items():
    print(item)
print(list(sorted(marks.keys())))

{'Maths': 0, 'Science': 0, 'English': 0}
('Maths', 0)
('Science', 0)
('English', 0)
['English', 'Maths', 'Science']

In [91]:
squares = {x:x*x for x in range(6)}
print squares
squares = {}
for x in range(6):
    squares[x] = x*x
print squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [93]:
squares = {1:1, 3:9, 5:25, 7:49, 9:81}
print 1 in squares
print 2 not in squares
print 49 in squares
for i in squares:
    print squares[i]

True
True
False
1
9
81
25
49

In [94]:
my_information = {"name" : "Dionsyia" , "age" : 28 , "location" : "Athenes"}
city = my_information.pop('location')
print my_information
print city

{'age': 28, 'name': 'Dionsyia'}
Athenes

In [95]:
my_information = {"name" : "Dionsyia" , "age" : 28 , "location" : "Athenes"}
a = my_information.pop('occupation' , 'Not Found')
print my_information
print a

{'age': 28, 'name': 'Dionsyia', 'location': 'Athenes'}
Not Found

In [101]:
dic = {
    "child1" : {
        "name" : "Emil",
        "year" : 2004
    },
    "child2" : {
        "name" : "Tobias",
        "year" : 2011
    },
    "child3" : {
        "name" : "Linus",
        "year" : 2015
    }
}

print dic

aa = {"child11" : "child1", "child22" : "child2", "child33" : "child3"}
print aa

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2011}, 'child3': {'name': 'Linus', 'year': 2015}}
{'child22': 'child2', 'child11': 'child1', 'child33': 'child3'}

In [114]:
str1 = "Hello L&G"
print str1
str2 = "Hello " + "L&G"
print str2
str3 = 3*str1
print str3
print str1.replace("L&G","World")
x = str1.replace("L&G","World")
print str1
print x.upper()

Hello L&G
Hello L&G
Hello L&GHello L&GHello L&G
Hello World
Hello L&G
HELLO WORLD

In [105]:
str4 = "1,2,3,4,5,6"
str4.split(",")

['1', '2', '3', '4', '5', '6']

In [107]:
str8 = "       Hello World         "
print str8.rstrip()
print str8.lstrip()
print str8.strip()

       Hello World
Hello World
Hello World

In [111]:
str6 = ""
str6.join(str1)

'Hello L&G'

In [121]:
txt = "the best things in life are free"
print "free" in txt
if "free" in txt:
    print "Yes, free is present"

print "expensive" not in txt

if "expensive" not in txt:
    print "No, expensive is present"

True
Yes, free is present
True
No, expensive is present

In [122]:
b = "Hello World!"
print b[2:5]
print b[:5]
print b[2:]
print b[-5:-2]

llo
Hello
llo World!
orl

In [124]:
age = 36
print "My name is John, and I'm " + str(age)
txt = "My name is John, and I'm {}"
print txt.format(age)
q = 3
i = 567
p = 49.95
myorder = "i want {} peices of item {} for {} dollars"
print myorder.

My name is John, and I'm 36
My name is John, and I'm 36

In [126]:
str1 = "Parth "
print str1 + 9

TypeError: cannot concatenate 'str' and 'int' objects

In [129]:
a,b,c,d = 10,20,30,40
def funA():
    a,b,c=100,200,300
    print "in fun a",a,b,c,d
    def funB():
        a,b=1000,2000,
        print "in fun b",a,b,c,d
        def funC():
            a=10000
            print "in fun c",a,b,c,d
        funC()
    funB()
funA()
print "In main ",a,b,c,d

in fun a 100 200 300 40
in fun b 1000 2000 300 40
in fun c 10000 2000 300 40
In main  10 20 30 40

In [132]:
import re
strings = "She sells sea shells on the sea shore"
print re.split(" ",strings)

['She', 'sells', 'sea', 'shells', 'on', 'the', 'sea', 'shore']

In [134]:
class Infant:
    "This is example class"
    pass
child = Infant()
help(child)

Help on instance of Infant in module __main__:

class Infant
 |  This is example class

In [135]:
class Infant :
    def Walk(self):
        print "statrted crawling"
    
child = Infant()
child.Walk()

statrted crawling

In [138]:
class Mom():
    def Walk(self):
        print("walk-mom")
        print("the address of self is ", id(self))
class Child(Mom):
    pass
child = Child()
child.Walk()
print("the address of self is ", id(child))

walk-mom
('the address of self is ', 82002184L)
('the address of self is ', 82002184L)

In [140]:
class Mom():
    def Walk(self):
        print "Walk-Mom"
        print "the address of self is ", id(self)
Mother = Mom()
print(type(Mom.Walk))
print(type(Mother.Walk))

<type 'instancemethod'>
<type 'instancemethod'>

In [142]:
class Example():
    def __init__(self):
        self.__private = "I'm private"
        self._protected = "I'm protected"
        self.public = "I'm public"
ob = Example()
print(ob.public)
print(ob._protected)
#print(ob.__private)

I'm public
I'm protected

In [143]:
class Example():
    def __init__(self):
        print("Object constructed")
    def __del__(self):
        print("Object Destroyed")
obj = Example()
del(obj)

Object constructed
Object Destroyed

In [144]:
class Date:
    def __init__(self,day,month,year):
        self.year = year
        self.month = month
        self.day = day
        
    @classmethod    
    def myd(cls,month,year,day):
        cls.day = day
        cls.month = month
        cls.year = year
        return cls(cls.day,cls.month,cls.year)
    
    @classmethod
    def ymd(cls,month,year,day):
        cls.day = day
        cls.month = month
        cls.year = year
        return cls(cls.day,cls.month,cls.year)
    
d1 = Date(17,4,2019)
print(d1.year,d1.month,d1.day)

d2 = Date(4,2018,15)
print(d2.year,d2.month,d2.day)

d3 = Date(2017,17,1)
print(d3.year,d3.month,d3.day)

print(d1.year)
print(d2.year)
print(d3.year)

(2019, 4, 17)
(15, 2018, 4)
(1, 17, 2017)
2019
15
1

In [23]:
import numpy as np
lst = [2,5,7,9]
x11 = np.array(lst)
y = np.array([lst,lst])
z = np.array([[2,4,6],[2,7,9]])
n1 = np.array([[2,4,6],[3,6,9],[1,2,3]])
n2 = 10*np.eye(4)
n3 = np.zeros(shape=(4,6))
n4 = 5*np.ones(shape=(3,5))
n5 = np.arange(10)
n6 = np.arange(-5,10)
n7 = np.random.rand(2,3,6)
n8 = np.random.randn(4,5)
print x
print"=============="
print y
print"=============="
print z
print"=============="
print n1
print"=============="
print n2
print"=============="
print n3
print"=============="
print n4
print"=============="
print n5
print"=============="
print n6
print"=============="
print n7
print"=============="
print n8
print np.__version__

[2 5 7 9]
==============
[[2 5 7 9]
 [2 5 7 9]]
==============
[[2 4 6]
 [2 7 9]]
==============
[[2 4 6]
 [3 6 9]
 [1 2 3]]
==============
[[10.  0.  0.  0.]
 [ 0. 10.  0.  0.]
 [ 0.  0. 10.  0.]
 [ 0.  0.  0. 10.]]
==============
[[0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]]
==============
[[5. 5. 5. 5. 5.]
 [5. 5. 5. 5. 5.]
 [5. 5. 5. 5. 5.]]
==============
[0 1 2 3 4 5 6 7 8 9]
==============
[-5 -4 -3 -2 -1  0  1  2  3  4  5  6  7  8  9]
==============
[[[7.30536274e-01 2.97548036e-02 5.33534312e-01 9.11378825e-01
   2.51827106e-01 2.10763718e-01]
  [2.57667215e-01 1.63043550e-01 6.35648003e-01 8.91313234e-01
   5.78943117e-01 5.56620202e-02]
  [5.45453424e-03 5.73249424e-04 9.42645614e-01 5.77756041e-02
   1.44351652e-01 5.60637983e-01]]

 [[3.99200022e-01 4.47694971e-01 8.33220799e-01 1.81128795e-01
   4.32771771e-01 7.98626485e-01]
  [6.19521827e-01 2.27875320e-01 4.34037771e-01 6.45174585e-01
   4.27503486e-01 4.60596997e-02]
  [5.72839555e-01 9.35624391e-01 8.79133595e-01 6.58506504e-01
   1.68584720e-01 6.35733679e-02]]]
==============
[[-0.27248784 -0.60299657  0.58980388  0.09550473  0.41995502]
 [-0.4175793   1.15762088 -1.96593432  0.87749241 -0.1215692 ]
 [ 0.33821756  0.76146698 -0.00342008  0.82622808  1.13836513]
 [-2.11737356  0.61883787 -0.43618323 -0.36930319  0.89009721]]
1.16.3

In [19]:
x11.shape

(4L,)

In [20]:
x11

array([2, 5, 7, 9])

In [24]:
import numpy as np
arr = np.array([1,2,3,4,5], ndmin=5)
print arr
print arr.ndim

[[[[[1 2 3 4 5]]]]]
5

In [27]:
import numpy as np
arr = np.array([1,2,3,4,5,6,7,8])
print arr
print arr[2:]
print arr[:2]
print arr[:-2]
print arr[-2:]
print arr[3:5]

[1 2 3 4 5 6 7 8]
[3 4 5 6 7 8]
[1 2]
[1 2 3 4 5 6]
[7 8]
[4 5]

In [2]:
import numpy as np
arr = np.array([[1,2,3,4,5,6,7,8],[11,22,33,44,55,66,77,88]])
print arr
print arr[1,1:4]
print arr[0:2,2]
print arr[0:2,1:4]

[[ 1  2  3  4  5  6  7  8]
 [11 22 33 44 55 66 77 88]]
[22 33 44]
[ 3 33]
[[ 2  3  4]
 [22 33 44]]

In [37]:
import pandas as pd
pd.read_csv("D:\\New Microsoft Excel Worksheet.csv")

   1       Astha  26-Jan
0  2      Hardik  21-Jan
1  3  Hrishikesh  19-Apr
2  4       Madhu  04-Apr
3  5      Mranal  02-Nov
4  6       Parth  16-Aug
5  7      Shreya  09-Jun

In [39]:
temp = [30,31,32,33,34,35,36,37,38,39,40,41]
mon = ["jan","feb","march","apr","may","june","july","aug","sept","oct","nov","dec"]
s1 = pd.Series(temp,mon)

In [40]:
s1

jan      30
feb      31
march    32
apr      33
may      34
june     35
july     36
aug      37
sept     38
oct      39
nov      40
dec      41
dtype: int64

In [41]:
s1[2:9]

march    32
apr      33
may      34
june     35
july     36
aug      37
sept     38
dtype: int64

In [42]:
df = pd.read_csv("D:\\New Microsoft Excel Worksheet.csv")

In [7]:
import pandas as pd
temp = [30,31,32,33,34,35,36,37,38,39,40,41]
mon = ["jan","feb","march","apr","may","june","july","aug","sept","oct","nov","dec"]
s1 = pd.Series(temp,mon)
table = pd.DataFrame(s1)
table['Rain'] = pd.Series([10,20,30,10,40,20,6,5,6,3,1,3],index = ["jan","feb","march","apr","may","june","july","aug","sept","oct","nov","dec"])
print table

        0  Rain
jan    30    10
feb    31    20
march  32    30
apr    33    10
may    34    40
june   35    20
july   36     6
aug    37     5
sept   38     6
oct    39     3
nov    40     1
dec    41     3

In [8]:
import numpy as np
import pandas as pd
df = pd.DataFrame()
print df

Empty DataFrame
Columns: []
Index: []

In [15]:
lst = [1,2,3,4,5,6,'a',2.0,'f']
print lst
print "==================="
df = pd.DataFrame(lst)
print df
print "==================="
lst1 = [1,2,3,4,5,6,'a',2.0,'f']
print lst
df = pd.DataFrame(lst1,index = [99,98,97,96,95,94,93,92,91])
print df
print "==================="
data = [[1,"Parth"],[2,"Shreya"],[3,"Mranal"],[4,"Hrishkesh"]]
df = pd.DataFrame(data)
print df
print "==================="
for x,n in df.iteritems():
    print x,n
print "==================="

[1, 2, 3, 4, 5, 6, 'a', 2.0, 'f']
===================
   0
0  1
1  2
2  3
3  4
4  5
5  6
6  a
7  2
8  f
===================
[1, 2, 3, 4, 5, 6, 'a', 2.0, 'f']
    0
99  1
98  2
97  3
96  4
95  5
94  6
93  a
92  2
91  f
===================
   0          1
0  1      Parth
1  2     Shreya
2  3     Mranal
3  4  Hrishkesh
===================
0 0    1
1    2
2    3
3    4
Name: 0, dtype: int64
1 0        Parth
1       Shreya
2       Mranal
3    Hrishkesh
Name: 1, dtype: object
===================

In [16]:
for x,n in df.iteritems():
    print x,n

0 0    1
1    2
2    3
3    4
Name: 0, dtype: int64
1 0        Parth
1       Shreya
2       Mranal
3    Hrishkesh
Name: 1, dtype: object

In [19]:
df = pd.DataFrame(np.random.randn(4,4),index = [6,7,8,9],columns = ['col1','col2','col3','col4'])
print df
for row_index,row in df.iterrows():
    print row_index,row
for row_index,row in df.iteritems():
    print row_index,row

       col1      col2      col3      col4
6  0.076368 -0.359217 -1.277019 -1.124506
7 -1.903112  0.334928 -1.028459 -1.344166
8  0.571965 -0.456533 -0.616997 -0.750799
9  0.270075 -2.015854 -0.021814  0.953672
6 col1    0.076368
col2   -0.359217
col3   -1.277019
col4   -1.124506
Name: 6, dtype: float64
7 col1   -1.903112
col2    0.334928
col3   -1.028459
col4   -1.344166
Name: 7, dtype: float64
8 col1    0.571965
col2   -0.456533
col3   -0.616997
col4   -0.750799
Name: 8, dtype: float64
9 col1    0.270075
col2   -2.015854
col3   -0.021814
col4    0.953672
Name: 9, dtype: float64
col1 6    0.076368
7   -1.903112
8    0.571965
9    0.270075
Name: col1, dtype: float64
col2 6   -0.359217
7    0.334928
8   -0.456533
9   -2.015854
Name: col2, dtype: float64
col3 6   -1.277019
7   -1.028459
8   -0.616997
9   -0.021814
Name: col3, dtype: float64
col4 6   -1.124506
7   -1.344166
8   -0.750799
9    0.953672
Name: col4, dtype: float64

In [20]:
for row_index,row in df.iterrows():
    print row_index,row

6 col1    0.076368
col2   -0.359217
col3   -1.277019
col4   -1.124506
Name: 6, dtype: float64
7 col1   -1.903112
col2    0.334928
col3   -1.028459
col4   -1.344166
Name: 7, dtype: float64
8 col1    0.571965
col2   -0.456533
col3   -0.616997
col4   -0.750799
Name: 8, dtype: float64
9 col1    0.270075
col2   -2.015854
col3   -0.021814
col4    0.953672
Name: 9, dtype: float64

In [21]:
for row_index,row in df.iteritems():
    print row_index,row

col1 6    0.076368
7   -1.903112
8    0.571965
9    0.270075
Name: col1, dtype: float64
col2 6   -0.359217
7    0.334928
8   -0.456533
9   -2.015854
Name: col2, dtype: float64
col3 6   -1.277019
7   -1.028459
8   -0.616997
9   -0.021814
Name: col3, dtype: float64
col4 6   -1.124506
7   -1.344166
8   -0.750799
9    0.953672
Name: col4, dtype: float64

In [23]:
for row in df.itertuples():
    print row

Pandas(Index=6L, col1=0.07636773287851707, col2=-0.3592169286503022, col3=-1.2770191534044448, col4=-1.1245063274726472)
Pandas(Index=7L, col1=-1.9031123728392059, col2=0.3349277964875046, col3=-1.0284585979760155, col4=-1.3441660054137385)
Pandas(Index=8L, col1=0.5719652430321405, col2=-0.45653276277703775, col3=-0.6169972101120113, col4=-0.7507994228023044)
Pandas(Index=9L, col1=0.27007474132372983, col2=-2.015853746886435, col3=-0.02181420595737471, col4=0.9536724792296143)

In [36]:
A = {'A':['a','b','c'],'B' : [1,2,3], 'C':[2014,2015,2016],'D':["AA","BB","yy"]}
print A
df = pd.DataFrame(A)
print df
df = pd.DataFrame(A,index = [1,2,4])
print df
#lstdis = [{'A':['a','b','c']},{'B':[1,2,3]},'C':{'AA','BB','CC'}]
data = [{'a':[1,2],'b':2},{'a':5,'b':10,'c':20}]
data2 = [{'a':['a','a','c']},{'a':5,'b':10,'c':20},{'a':11,'h':1,'g':6}]
df = pd.DataFrame(data2,index=['first','second','th'])
print df

{'A': ['a', 'b', 'c'], 'C': [2014, 2015, 2016], 'B': [1, 2, 3], 'D': ['AA', 'BB', 'yy']}
   A  B     C   D
0  a  1  2014  AA
1  b  2  2015  BB
2  c  3  2016  yy
   A  B     C   D
1  a  1  2014  AA
2  b  2  2015  BB
4  c  3  2016  yy
                a     b     c    g    h
first   [a, a, c]   NaN   NaN  NaN  NaN
second          5  10.0  20.0  NaN  NaN
th             11   NaN   NaN  6.0  1.0

In [33]:
lst = [[1,2,3],[11,22,33]]
df = pd.DataFrame(lst,index=['m','n'],dtype = float)
df

      0     1     2
m   1.0   2.0   3.0
n  11.0  22.0  33.0

In [128]:
data2 = [{'a':['a','a','c']},{'a':5,'b':10,'c':20},{'a':11,'h':1,'g':6}]
df = pd.DataFrame(data2,index=['first','second','th'])
print df
df.fillna({
    'b': 69,
    'c':69.69,
    'g':69.6969,
    'h':6969.6969
})

                a     b     c    g    h
first   [a, a, c]   NaN   NaN  NaN  NaN
second          5  10.0  20.0  NaN  NaN
th             11   NaN   NaN  6.0  1.0

                a     b      c        g          h
first   [a, a, c]  69.0  69.69  69.6969  6969.6969
second          5  10.0  20.00  69.6969  6969.6969
th             11  69.0  69.69   6.0000     1.0000

In [38]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],index=[5,6,7],dtype=float)
df

     Name   Age
5    Alex  10.0
6     Bob  12.0
7  Clarke  13.0

In [40]:
data = [[10,'Alex'],[12,'Bob'],[13,'Clarke']]
df = pd.DataFrame(data,columns=['Age','Name'],index=[5,6,7],dtype=float)
df

    Age    Name
5  10.0    Alex
6  12.0     Bob
7  13.0  Clarke

In [41]:
data = [[10,'Alex',20],[12,'Bob',30],[13,'Clarke',40]]
df = pd.DataFrame(data,columns=['Age','Name','New'],index=[5,6,7],dtype=float)
df

    Age    Name   New
5  10.0    Alex  20.0
6  12.0     Bob  30.0
7  13.0  Clarke  40.0

In [63]:
import pandas as pd
d1 = pd.read_csv("D:\\f1.csv")
d2 = pd.read_csv("D:\\f2.csv")
d1

    SN    NAME   BIRTH
0    1   Astha  01-Jan
1    2   Madhu  02-Feb
2    3  Hardik  03-Mar
3    3  Hardik  04-Mar
4    3  Hardik  05-Mar
5    3  Hardik  06-Mar
6    3  Hardik  07-Mar
7    3  Hardik  08-Mar
8    3  Hardik  09-Mar
9    3  Hardik  10-Mar
10   3  Hardik  11-Mar

In [64]:
d2

   SN    NAME   BIRTH
0   1  Mranal  02-Nov
1   2   Parth  16-Aug
2   3  Shreya  09-Jun

In [83]:
frames = [d1,d2]
pd.concat(frames,join='inner',axis=1)

   SN    NAME   BIRTH  SN    NAME   BIRTH
0   1   Astha  01-Jan   1  Mranal  02-Nov
1   2   Madhu  02-Feb   2   Parth  16-Aug
2   3  Hardik  03-Mar   3  Shreya  09-Jun

In [93]:
d2.merge(d1,how = 'right',on = 'SN')

    SN  NAME_x BIRTH_x  NAME_y BIRTH_y
0    1  Mranal  02-Nov   Astha  01-Jan
1    2   Parth  16-Aug   Madhu  02-Feb
2    3  Shreya  09-Jun  Hardik  03-Mar
3    3  Shreya  09-Jun  Hardik  04-Mar
4    3  Shreya  09-Jun  Hardik  05-Mar
5    3  Shreya  09-Jun  Hardik  06-Mar
6    3  Shreya  09-Jun  Hardik  07-Mar
7    3  Shreya  09-Jun  Hardik  08-Mar
8    3  Shreya  09-Jun  Hardik  09-Mar
9    3  Shreya  09-Jun  Hardik  10-Mar
10   3  Shreya  09-Jun  Hardik  11-Mar

In [95]:
import pandas as pd
titanic = pd.read_csv("D:\\f3.csv")

In [96]:
titanic.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [97]:
titanic.describe()

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [98]:
titanic[0:10]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1.0,1.0,"Anderson, Mr. Harry",male,48.0000,0.0,0.0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1.0,1.0,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1.0,0.0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1.0,0.0,"Andrews, Mr. Thomas Jr",male,39.0000,0.0,0.0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1.0,1.0,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2.0,0.0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1.0,0.0,"Artagaveytia, Mr. Ramon",male,71.0000,0.0,0.0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"

In [99]:
titanic.iloc[0:10,1:5]

   survived                                             name     sex      age
0       1.0                    Allen, Miss. Elisabeth Walton  female  29.0000
1       1.0                   Allison, Master. Hudson Trevor    male   0.9167
2       0.0                     Allison, Miss. Helen Loraine  female   2.0000
3       0.0             Allison, Mr. Hudson Joshua Creighton    male  30.0000
4       0.0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.0000
5       1.0                              Anderson, Mr. Harry    male  48.0000
6       1.0                Andrews, Miss. Kornelia Theodosia  female  63.0000
7       0.0                           Andrews, Mr. Thomas Jr    male  39.0000
8       1.0    Appleton, Mrs. Edward Dale (Charlotte Lamson)  female  53.0000
9       0.0                          Artagaveytia, Mr. Ramon    male  71.0000

In [111]:
titanic[['age','name']][0:10]

       age                                             name
0  29.0000                    Allen, Miss. Elisabeth Walton
1   0.9167                   Allison, Master. Hudson Trevor
2   2.0000                     Allison, Miss. Helen Loraine
3  30.0000             Allison, Mr. Hudson Joshua Creighton
4  25.0000  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
5  48.0000                              Anderson, Mr. Harry
6  63.0000                Andrews, Miss. Kornelia Theodosia
7  39.0000                           Andrews, Mr. Thomas Jr
8  53.0000    Appleton, Mrs. Edward Dale (Charlotte Lamson)
9  71.0000                          Artagaveytia, Mr. Ramon

In [117]:
import pandas as pd
df = pd.read_csv("D:\\Doc.txt")
df

                                        Status\t\tMsg
0   0\t\twdefrg  fdkjig hjhgfmghgf hjkhgfdkgh ddSf...
1   1\t\teknjgfbfgnf gnfif yjhigh fihduewar tyui65...
2     2       \tkjiefudbvh sfdhuh rnsfdnikgh dfiklglh
3            3\t\tjkdhb cfjkmdkkodn gmbvc erfm dvcfgd
4             0\t\tmjdn fmdsopwefrijn fdvirjr edfcxle
5                                  1\t\tlkisdjnn mfdl
6                  2\t\tkmjudhjnfekvv fjkeosdvdss fvs
7            3       \tdmn mvndj en gfvorenwj nr efdv
8                 0\t\tdjn fdvwrejinf dvcejirt4jrefnd
9                      1\t\tlkijv fdvce fdvcdfw sdffs
10             2\t\teifjnc nefjdn f bhewfducbh dbvc j
11                 3\t\tkjdcn fcxd fndscvxns nfdnsvcx
12              0\t\tnvdjxc vefdcjxn  fedasncjkmwd fv
13            1\t\tnjv cfwnfedkcvefnw kdvkjfdkne fdvc

In [130]:
import pandas as pd
df = pd.read_csv("D:\\netflix.csv")
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
10,s11,TV Show,"Vendetta: Truth, Lies and The Mafia",NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...","Sicily boasts a bold ""Anti-Mafia"" coalition. B..."
11,s12,TV Show,Bangkok Breaking,Kongkiat Komesiri,"Sukollawat Kanarot, Sushar Manaying, Pavarit M...",NaN,"September 23, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...","Struggling to earn a living in Bangkok, a man ..."
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
13,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,"Klara Castanho, Lucca Picon, Júlia Gomes, Marc...",NaN,"September 22, 2021",2021,TV-PG,91 min,"Children & Family Movies, Comedies",When the clever but socially-awkward Tetê join...
14,s15,TV Show,Crime Stories: India Detectives,NaN,NaN,NaN,"September 22, 2021",2021,TV-MA,1 Season,"British TV Shows, Crime TV Shows, Docuseries",Cameras following Bengaluru police on the job ...
15,s16,TV Show,Dear White People,NaN,"Logan Browning, Brandon P. Bell, DeRon Horton,...",United States,"September 22, 2021",2021,TV-MA,4 Seasons,"TV Comedies, TV Dramas",Students of color navigate the daily slights a...
16,s17,Movie,Europe's Most Dangerous Man: Otto Skorzeny in ...,"Pedro de Echave García, Pablo Azorín Williams",NaN,NaN,"September 22, 2021",2020,TV-MA,67 min,"Documentaries, International Movies",Declassified documents reveal the post-WWII li...
17,s18,TV Show,Falsa identidad,NaN,"Luis Ernesto Franco, Camila Sodi, Sergio Goyri...",Mexico,"September 22, 2021",2020,TV-MA,2 Seasons,"Crime TV Shows, Spanish-Language TV Shows, TV ...",Strangers Diego and Isabel flee their home in ...
18,s19,Movie,Intrusion,Adam Salky,"Freida Pinto, Logan Marshall-Green, Robert Joh...",NaN,"September 22, 2021",2021,TV-14,94 min,Thrillers,After a deadly home invasion at a couple’s new...
19,s20,TV Show,Jaguar,NaN,"Blanca Suárez, Iván Marcos, Óscar Casas, Adriá...",NaN,"September 22, 2021",2021,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...","In the 1960s, a Holocaust survivor joins a gro..."
20,s21,TV Show,Monsters Inside: The 24 Faces of Billy Milligan,Olivier Megaton,NaN,NaN,"September 22, 2021",2021,TV-14,1 Season,"Crime TV Shows, Docuseries, International TV S...","In the late 1970s, an accused serial rapist cl..."
21,s22,TV Show,Resurrection: Ertugrul,NaN,"Engin Altan Düzyatan, Serdar Gökhan, Hülya Dar...",Turkey,"September 22, 2021",2018,TV-14,5 Seasons,"International TV Shows, TV Action & Adventure,...",When a good deed unwittingly endangers his cla...
22,s23,Movie,Avvai Shanmughi,K.S. Ravikumar,"Kamal Hassan, Meena, Gemini Ganesan, Heera Raj...",NaN,"September 21, 2021",1996,TV-PG,161 min,"Comedies, International Movies",Newly divorced and denied visitation rights wi...
23,s24,Movie,Go! Go! Cory Carson: Chrissy Takes the Wheel,"Alex Woo, Stanley Moore","Maisie Benson, Paul Killam, Kerry Gudjohnsen, ...",NaN,"September 21, 2021",2021,TV-Y,61 min,Children & Family Movies,From arcade games to sled days and hiccup cure...
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,"September 21, 2021",1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...
25,s26,TV Show,Love on the Spectrum,NaN,Brooke Satchwell,Australia,"September 21, 2021",2021,TV-14,2 Seasons,"Docuseries, International TV Shows, Reality TV",Finding love can be hard for anyone. For young...
26,s27,Movie,Minsara Kanavu,Rajiv Menon,"Arvind Swamy, Kajol, Prabhu Deva, Nassar, S.P....",NaN,"September 21, 2021",1997,TV-PG,147 min,"Comedies, International Movies, Music & Musicals",A tangled love triangle ensues when a man fall...
27,s28,Movie,Grown Ups,Dennis Dugan,"Adam Sandler, Kevin James, Chris Rock, David S...",United States,"September 20, 2021",2010,PG-13,103 min,Comedies,Mourning the loss of their beloved junior high...
28,s29,Movie,Dark Skies,Scott Stewart,"Keri Russell, Josh Hamilton, J.K. Simmons, Dak...",United States,"September 19, 2021",2013,PG-13,97 min,"Horror Movies, Sci-Fi & Fantasy",A family’s idyllic suburban life shatters when...
29,s30,Movie,Paranoia,Robert Luketic,"Liam Hemsworth, Gary Oldman, Amber Heard, Harr...","United States, India, France","September 19, 2021",2013,PG-13,106 min,Thrillers,"Blackmailed by his company's CEO, a low-level ..."
...,...,...,...,...,...,...,...,...,...,...,...,...
8777,s8778,Movie,Yes or No,Saratswadee Wongsomphet,"Sushar Manaying, Supanart Jittaleela, Arisara ...",Thailand,"December 6, 2018",2010,TV-PG,111 min,"International Movies, LGBTQ Movies, Romantic M...",Traditional girl Pie is initially uncomfortabl...
8778,s8779,Movie,Yes or No 2,Saratswadee Wongsomphet,"Supanart Jittaleela, Sushar Manaying, Nisa Boo...",Thailand,"November 8, 2018",2012,TV-PG,112 min,"International Movies, LGBTQ Movies, Romantic M...","No longer university girls, Kim and Pie face n..."
8779,s8780,Movie,Yes or No 2.5,Kirati Nakintanon,"Supanart Jittaleela, Pimpakan Bangchawong, Cha...",Thailand,"November 8, 2018",2015,TV-PG,107 min,"International Movies, LGBTQ Movies, Romantic M...",Roommates Wine and Pie find their lives turned...
8780,s8781,TV Show,Yo-Kai Watch,NaN,"Johnny Yong Bosch, J.W. Terry, Alicyn Packard,...",United States,"April 1, 2016",2015,TV-Y7,1 Season,"Anime Series, Kids' TV",Nate frees a mythical being trapped in a magic...
8781,s8782,Movie,Yo-Kai Watch: The Movie,Mark Risley,"Johnny Yong Bosch, Joey D'Auria, Alicyn Packar...","Japan, United States","December 1, 2016",2016,TV-Y7,96 min,"Anime Features, Children & Family Movies",Nate's special Yo-Kai Watch is missing. He tra...
8782,s8783,Movie,Yoga Hosers,Kevin Smith,"Harley Quinn Smith, Lily-Rose Depp, Johnny Dep...",United States,"December 2, 2016",2016,PG-13,88 min,"Comedies, Horror Movies, Independent Movies",With an all-important high school party at sta...
8783,s8784,TV Show,Yoko,NaN,"Eileen Stevens, Alyson Leigh Rosenfeld, Sarah ...",NaN,"June 23, 2018",2016,TV-Y,1 Season,Kids' TV,"Friends Mai, Oto and Vik's games at the park b..."
8784,s8785,Movie,Yoko and His Friends,NaN,"Eileen Stevens, Alyson Leigh Rosenfeld, Sarah ...","Russia, Spain","June 23, 2018",2015,TV-Y,78 min,Children & Family Movies,"Vik meets new friends in a new city, where the..."
8785,s8786,TV Show,YOM,NaN,"Sairaj, Devyani Dagaonkar, Ketan Singh, Mayur ...",NaN,"June 7, 2018",2016,TV-Y7,1 Season,Kids' TV,"With the mind of a human being, and the body o..."
8786,s8787,Movie,You Can Tutu,James Brown,"Lily O'Regan, Jeannettsy Enriquez Borges, Joel...",United Kingdom,"December 31, 2017",2017,TV-G,87 min,Children & Family Movies,A gifted young ballet dancer struggles to find...
8787,s8788,Movie,You Can’t Fight Christmas,Kenny Young,"Brely Evans, Andra Fuller, Persia White, Porsc...",United States,"December 19, 2017",2017,TV-PG,85 min,"Comedies, Romantic Movies",After stepping in to revitalize his family's h...
8788,s8789,Movie,You Carry Me,Ivona Juka,"Lana Baric, Vojislav Brajovic, Natasa Janjic, ...","Croatia, Slovenia, Serbia, Montenegro","July 1, 2016",2015,TV-MA,157 min,"Dramas, International Movies","A soap opera producer, director and makeup art..."
8789,s8790,Movie,You Changed My Life,Cathy Garcia-Molina,"John Lloyd Cruz, Sarah Geronimo, Rayver Cruz, ...",Philippines,"February 27, 2019",2009,TV-PG,116 min,"Comedies, Dramas, International Movies",Laida and Miggy think they've found perfect ha...
8790,s8791,Movie,You Don't Mess with the Zohan,Dennis Dugan,"Adam Sandler, John Turturro, Emmanuelle Chriqu...",United States,"September 1, 2019",2008,UR,113 min,"Action & Adventure, Comedies",An Israeli counterterrorism soldier with a sec...
8791,s8792,Movie,Young Adult,Jason Reitman,"Charlize Theron, Patton Oswalt, Patrick Wilson...",United States,"November 20, 2019",2011,R,94 min,"Comedies, Dramas, Independent Movies",When a divorced writer gets a letter from an o...
8792,s8793,Movie,Young Tiger,Mu Chu,"Qiu Yuen, Charlie Chin, Jackie Chan, Hu Chin, ...",Hong Kong,"November 1, 2016",1973,NR,81 min,"Action & Adventure, International Movies","Aided only by a tough female police officer, a..."
8793,s8794,Movie,"Yours, Mine and Ours",Raja Gosnell,"Dennis Quaid, Rene Russo, Sean Faris, Katija P...",United States,"November 20, 2019",2005,PG,88 min,"Children & Family Movies, Comedies",When a father of eight and a mother of 10 prep...
8794,s8795,Movie,اشتباك,Mohamed Diab,"Nelly Karim, Hany Adel, Tarek Abdel Aziz, Ahme...","Egypt, France","October 11, 2018",2016,TV-14,98 min,"Dramas, Independent Movies, International Movies",Amid the tumult following Egyptian President M...
8795,s8796,TV Show,Yu-Gi-Oh! Arc-V,NaN,"Mike Liscio, Emily Bauer, Billy Bob Thompson, ...","Japan, Canada","May 1, 2018",2015,TV-Y7,2 Seasons,"Anime Series, Kids' TV",Now that he's discovered the Pendulum Summonin...
8796,s8797,TV Show,Yunus Emre,NaN,"Gökhan Atalay, Payidar Tüfekçioglu, Baran Akbu...",Turkey,"January 17, 2017",2016,TV-PG,2 Seasons,"International TV Shows, TV Dramas","During the Mongol invasions, Yunus Emre leaves..."
8797,s8798,TV Show,Zak Storm,NaN,"Michael Johnston, Jessica Gee-George, Christin...","United States, France, South Korea, Indonesia","September 13, 2018",2016,TV-Y7,3 Seasons,Kids' TV,Teen surfer Zak Storm is mysteriously transpor...
8798,s8799,Movie,Zed Plus,Chandra Prakash Dwivedi,"Adil Hussain, Mona Singh, K.K. Raina, Sanjay M...",India,"December 31, 2019",2014,TV-MA,131 min,"Comedies, Dramas, International Movies",A philandering small-town mechanic's political...
8799,s8800,Movie,Zenda,Avadhoot Gupte,"Santosh Juvekar, Siddharth Chandekar, Sachit P...",India,"February 15, 2018",2009,TV-14,120 min,"Dramas, International Movies",A change in the leadership of a political part...
8800,s8801,TV Show,Zindagi Gulzar Hai,NaN,"Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...",Pakistan,"December 15, 2016",2012,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ...","Strong-willed, middle-class Kashaf and carefre..."
8801,s8802,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan","March 9, 2016",2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [131]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [133]:
df1 = df.fillna({
    'director':'Parth Shukla',
    'country' :'Thailand',
    'cast'    :'Mranal Bhikshu, Hardik Bathija, Hrishikesh Shukla',
    'date_added':'February 30,2000',
    'rating'    :'TV-MA',
    'duration'  :'129 min'
})
df1

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,"Mranal Bhikshu, Hardik Bathija, Hrishikesh Shukla",United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,Parth Shukla,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",Thailand,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,Parth Shukla,"Mranal Bhikshu, Hardik Bathija, Hrishikesh Shukla",Thailand,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,Parth Shukla,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",Thailand,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",Thailand,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
10,s11,TV Show,"Vendetta: Truth, Lies and The Mafia",Parth Shukla,"Mranal Bhikshu, Hardik Bathija, Hrishikesh Shukla",Thailand,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...","Sicily boasts a bold ""Anti-Mafia"" coalition. B..."
11,s12,TV Show,Bangkok Breaking,Kongkiat Komesiri,"Sukollawat Kanarot, Sushar Manaying, Pavarit M...",Thailand,"September 23, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...","Struggling to earn a living in Bangkok, a man ..."
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
13,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,"Klara Castanho, Lucca Picon, Júlia Gomes, Marc...",Thailand,"September 22, 2021",2021,TV-PG,91 min,"Children & Family Movies, Comedies",When the clever but socially-awkward Tetê join...
14,s15,TV Show,Crime Stories: India Detectives,Parth Shukla,"Mranal Bhikshu, Hardik Bathija, Hrishikesh Shukla",Thailand,"September 22, 2021",2021,TV-MA,1 Season,"British TV Shows, Crime TV Shows, Docuseries",Cameras following Bengaluru police on the job ...
15,s16,TV Show,Dear White People,Parth Shukla,"Logan Browning, Brandon P. Bell, DeRon Horton,...",United States,"September 22, 2021",2021,TV-MA,4 Seasons,"TV Comedies, TV Dramas",Students of color navigate the daily slights a...
16,s17,Movie,Europe's Most Dangerous Man: Otto Skorzeny in ...,"Pedro de Echave García, Pablo Azorín Williams","Mranal Bhikshu, Hardik Bathija, Hrishikesh Shukla",Thailand,"September 22, 2021",2020,TV-MA,67 min,"Documentaries, International Movies",Declassified documents reveal the post-WWII li...
17,s18,TV Show,Falsa identidad,Parth Shukla,"Luis Ernesto Franco, Camila Sodi, Sergio Goyri...",Mexico,"September 22, 2021",2020,TV-MA,2 Seasons,"Crime TV Shows, Spanish-Language TV Shows, TV ...",Strangers Diego and Isabel flee their home in ...
18,s19,Movie,Intrusion,Adam Salky,"Freida Pinto, Logan Marshall-Green, Robert Joh...",Thailand,"September 22, 2021",2021,TV-14,94 min,Thrillers,After a deadly home invasion at a couple’s new...
19,s20,TV Show,Jaguar,Parth Shukla,"Blanca Suárez, Iván Marcos, Óscar Casas, Adriá...",Thailand,"September 22, 2021",2021,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...","In the 1960s, a Holocaust survivor joins a gro..."
20,s21,TV Show,Monsters Inside: The 24 Faces of Billy Milligan,Olivier Megaton,"Mranal Bhikshu, Hardik Bathija, Hrishikesh Shukla",Thailand,"September 22, 2021",2021,TV-14,1 Season,"Crime TV Shows, Docuseries, International TV S...","In the late 1970s, an accused serial rapist cl..."
21,s22,TV Show,Resurrection: Ertugrul,Parth Shukla,"Engin Altan Düzyatan, Serdar Gökhan, Hülya Dar...",Turkey,"September 22, 2021",2018,TV-14,5 Seasons,"International TV Shows, TV Action & Adventure,...",When a good deed unwittingly endangers his cla...
22,s23,Movie,Avvai Shanmughi,K.S. Ravikumar,"Kamal Hassan, Meena, Gemini Ganesan, Heera Raj...",Thailand,"September 21, 2021",1996,TV-PG,161 min,"Comedies, International Movies",Newly divorced and denied visitation rights wi...
23,s24,Movie,Go! Go! Cory Carson: Chrissy Takes the Wheel,"Alex Woo, Stanley Moore","Maisie Benson, Paul Killam, Kerry Gudjohnsen, ...",Thailand,"September 21, 2021",2021,TV-Y,61 min,Children & Family Movies,From arcade games to sled days and hiccup cure...
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,"September 21, 2021",1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...
25,s26,TV Show,Love on the Spectrum,Parth Shukla,Brooke Satchwell,Australia,"September 21, 2021",2021,TV-14,2 Seasons,"Docuseries, International TV Shows, Reality TV",Finding love can be hard for anyone. For young...
26,s27,Movie,Minsara Kanavu,Rajiv Menon,"Arvind Swamy, Kajol, Prabhu Deva, Nassar, S.P....",Thailand,"September 21, 2021",1997,TV-PG,147 min,"Comedies, International Movies, Music & Musicals",A tangled love triangle ensues when a man fall...
27,s28,Movie,Grown Ups,Dennis Dugan,"Adam Sandler, Kevin James, Chris Rock, David S...",United States,"September 20, 2021",2010,PG-13,103 min,Comedies,Mourning the loss of their beloved junior high...
28,s29,Movie,Dark Skies,Scott Stewart,"Keri Russell, Josh Hamilton, J.K. Simmons, Dak...",United States,"September 19, 2021",2013,PG-13,97 min,"Horror Movies, Sci-Fi & Fantasy",A family’s idyllic suburban life shatters when...
29,s30,Movie,Paranoia,Robert Luketic,"Liam Hemsworth, Gary Oldman, Amber Heard, Harr...","United States, India, France","September 19, 2021",2013,PG-13,106 min,Thrillers,"Blackmailed by his company's CEO, a low-level ..."
...,...,...,...,...,...,...,...,...,...,...,...,...
8777,s8778,Movie,Yes or No,Saratswadee Wongsomphet,"Sushar Manaying, Supanart Jittaleela, Arisara ...",Thailand,"December 6, 2018",2010,TV-PG,111 min,"International Movies, LGBTQ Movies, Romantic M...",Traditional girl Pie is initially uncomfortabl...
8778,s8779,Movie,Yes or No 2,Saratswadee Wongsomphet,"Supanart Jittaleela, Sushar Manaying, Nisa Boo...",Thailand,"November 8, 2018",2012,TV-PG,112 min,"International Movies, LGBTQ Movies, Romantic M...","No longer university girls, Kim and Pie face n..."
8779,s8780,Movie,Yes or No 2.5,Kirati Nakintanon,"Supanart Jittaleela, Pimpakan Bangchawong, Cha...",Thailand,"November 8, 2018",2015,TV-PG,107 min,"International Movies, LGBTQ Movies, Romantic M...",Roommates Wine and Pie find their lives turned...
8780,s8781,TV Show,Yo-Kai Watch,Parth Shukla,"Johnny Yong Bosch, J.W. Terry, Alicyn Packard,...",United States,"April 1, 2016",2015,TV-Y7,1 Season,"Anime Series, Kids' TV",Nate frees a mythical being trapped in a magic...
8781,s8782,Movie,Yo-Kai Watch: The Movie,Mark Risley,"Johnny Yong Bosch, Joey D'Auria, Alicyn Packar...","Japan, United States","December 1, 2016",2016,TV-Y7,96 min,"Anime Features, Children & Family Movies",Nate's special Yo-Kai Watch is missing. He tra...
8782,s8783,Movie,Yoga Hosers,Kevin Smith,"Harley Quinn Smith, Lily-Rose Depp, Johnny Dep...",United States,"December 2, 2016",2016,PG-13,88 min,"Comedies, Horror Movies, Independent Movies",With an all-important high school party at sta...
8783,s8784,TV Show,Yoko,Parth Shukla,"Eileen Stevens, Alyson Leigh Rosenfeld, Sarah ...",Thailand,"June 23, 2018",2016,TV-Y,1 Season,Kids' TV,"Friends Mai, Oto and Vik's games at the park b..."
8784,s8785,Movie,Yoko and His Friends,Parth Shukla,"Eileen Stevens, Alyson Leigh Rosenfeld, Sarah ...","Russia, Spain","June 23, 2018",2015,TV-Y,78 min,Children & Family Movies,"Vik meets new friends in a new city, where the..."
8785,s8786,TV Show,YOM,Parth Shukla,"Sairaj, Devyani Dagaonkar, Ketan Singh, Mayur ...",Thailand,"June 7, 2018",2016,TV-Y7,1 Season,Kids' TV,"With the mind of a human being, and the body o..."
8786,s8787,Movie,You Can Tutu,James Brown,"Lily O'Regan, Jeannettsy Enriquez Borges, Joel...",United Kingdom,"December 31, 2017",2017,TV-G,87 min,Children & Family Movies,A gifted young ballet dancer struggles to find...
8787,s8788,Movie,You Can’t Fight Christmas,Kenny Young,"Brely Evans, Andra Fuller, Persia White, Porsc...",United States,"December 19, 2017",2017,TV-PG,85 min,"Comedies, Romantic Movies",After stepping in to revitalize his family's h...
8788,s8789,Movie,You Carry Me,Ivona Juka,"Lana Baric, Vojislav Brajovic, Natasa Janjic, ...","Croatia, Slovenia, Serbia, Montenegro","July 1, 2016",2015,TV-MA,157 min,"Dramas, International Movies","A soap opera producer, director and makeup art..."
8789,s8790,Movie,You Changed My Life,Cathy Garcia-Molina,"John Lloyd Cruz, Sarah Geronimo, Rayver Cruz, ...",Philippines,"February 27, 2019",2009,TV-PG,116 min,"Comedies, Dramas, International Movies",Laida and Miggy think they've found perfect ha...
8790,s8791,Movie,You Don't Mess with the Zohan,Dennis Dugan,"Adam Sandler, John Turturro, Emmanuelle Chriqu...",United States,"September 1, 2019",2008,UR,113 min,"Action & Adventure, Comedies",An Israeli counterterrorism soldier with a sec...
8791,s8792,Movie,Young Adult,Jason Reitman,"Charlize Theron, Patton Oswalt, Patrick Wilson...",United States,"November 20, 2019",2011,R,94 min,"Comedies, Dramas, Independent Movies",When a divorced writer gets a letter from an o...
8792,s8793,Movie,Young Tiger,Mu Chu,"Qiu Yuen, Charlie Chin, Jackie Chan, Hu Chin, ...",Hong Kong,"November 1, 2016",1973,NR,81 min,"Action & Adventure, International Movies","Aided only by a tough female police officer, a..."
8793,s8794,Movie,"Yours, Mine and Ours",Raja Gosnell,"Dennis Quaid, Rene Russo, Sean Faris, Katija P...",United States,"November 20, 2019",2005,PG,88 min,"Children & Family Movies, Comedies",When a father of eight and a mother of 10 prep...
8794,s8795,Movie,اشتباك,Mohamed Diab,"Nelly Karim, Hany Adel, Tarek Abdel Aziz, Ahme...","Egypt, France","October 11, 2018",2016,TV-14,98 min,"Dramas, Independent Movies, International Movies",Amid the tumult following Egyptian President M...
8795,s8796,TV Show,Yu-Gi-Oh! Arc-V,Parth Shukla,"Mike Liscio, Emily Bauer, Billy Bob Thompson, ...","Japan, Canada","May 1, 2018",2015,TV-Y7,2 Seasons,"Anime Series, Kids' TV",Now that he's discovered the Pendulum Summonin...
8796,s8797,TV Show,Yunus Emre,Parth Shukla,"Gökhan Atalay, Payidar Tüfekçioglu, Baran Akbu...",Turkey,"January 17, 2017",2016,TV-PG,2 Seasons,"International TV Shows, TV Dramas","During the Mongol invasions, Yunus Emre leaves..."
8797,s8798,TV Show,Zak Storm,Parth Shukla,"Michael Johnston, Jessica Gee-George, Christin...","United States, France, South Korea, Indonesia","September 13, 2018",2016,TV-Y7,3 Seasons,Kids' TV,Teen surfer Zak Storm is mysteriously transpor...
8798,s8799,Movie,Zed Plus,Chandra Prakash Dwivedi,"Adil Hussain, Mona Singh, K.K. Raina, Sanjay M...",India,"December 31, 2019",2014,TV-MA,131 min,"Comedies, Dramas, International Movies",A philandering small-town mechanic's political...
8799,s8800,Movie,Zenda,Avadhoot Gupte,"Santosh Juvekar, Siddharth Chandekar, Sachit P...",India,"February 15, 2018",2009,TV-14,120 min,"Dramas, International Movies",A change in the leadership of a political part...
8800,s8801,TV Show,Zindagi Gulzar Hai,Parth Shukla,"Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...",Pakistan,"December 15, 2016",2012,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ...","Strong-willed, middle-class Kashaf and carefre..."
8801,s8802,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan","March 9, 2016",2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,Parth Shukla,"Mranal Bhikshu, Hardik Bathija, Hrishikesh Shukla",Thailand,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [134]:
df1.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [135]:
df1.duplicated()

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
8777    False
8778    False
8779    False
8780    False
8781    False
8782    False
8783    False
8784    False
8785    False
8786    False
8787    False
8788    False
8789    False
8790    False
8791    False
8792    False
8793    False
8794    False
8795    False
8796    False
8797    False
8798    False
8799    False
8800    False
8801    False
8802    False
8803    False
8804    False
8805    False
8806    False
Length: 8807, dtype: bool

In [136]:
df1

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,"Mranal Bhikshu, Hardik Bathija, Hrishikesh Shukla",United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,Parth Shukla,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",Thailand,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,Parth Shukla,"Mranal Bhikshu, Hardik Bathija, Hrishikesh Shukla",Thailand,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,Parth Shukla,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",Thailand,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",Thailand,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
10,s11,TV Show,"Vendetta: Truth, Lies and The Mafia",Parth Shukla,"Mranal Bhikshu, Hardik Bathija, Hrishikesh Shukla",Thailand,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...","Sicily boasts a bold ""Anti-Mafia"" coalition. B..."
11,s12,TV Show,Bangkok Breaking,Kongkiat Komesiri,"Sukollawat Kanarot, Sushar Manaying, Pavarit M...",Thailand,"September 23, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...","Struggling to earn a living in Bangkok, a man ..."
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
13,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,"Klara Castanho, Lucca Picon, Júlia Gomes, Marc...",Thailand,"September 22, 2021",2021,TV-PG,91 min,"Children & Family Movies, Comedies",When the clever but socially-awkward Tetê join...
14,s15,TV Show,Crime Stories: India Detectives,Parth Shukla,"Mranal Bhikshu, Hardik Bathija, Hrishikesh Shukla",Thailand,"September 22, 2021",2021,TV-MA,1 Season,"British TV Shows, Crime TV Shows, Docuseries",Cameras following Bengaluru police on the job ...
15,s16,TV Show,Dear White People,Parth Shukla,"Logan Browning, Brandon P. Bell, DeRon Horton,...",United States,"September 22, 2021",2021,TV-MA,4 Seasons,"TV Comedies, TV Dramas",Students of color navigate the daily slights a...
16,s17,Movie,Europe's Most Dangerous Man: Otto Skorzeny in ...,"Pedro de Echave García, Pablo Azorín Williams","Mranal Bhikshu, Hardik Bathija, Hrishikesh Shukla",Thailand,"September 22, 2021",2020,TV-MA,67 min,"Documentaries, International Movies",Declassified documents reveal the post-WWII li...
17,s18,TV Show,Falsa identidad,Parth Shukla,"Luis Ernesto Franco, Camila Sodi, Sergio Goyri...",Mexico,"September 22, 2021",2020,TV-MA,2 Seasons,"Crime TV Shows, Spanish-Language TV Shows, TV ...",Strangers Diego and Isabel flee their home in ...
18,s19,Movie,Intrusion,Adam Salky,"Freida Pinto, Logan Marshall-Green, Robert Joh...",Thailand,"September 22, 2021",2021,TV-14,94 min,Thrillers,After a deadly home invasion at a couple’s new...
19,s20,TV Show,Jaguar,Parth Shukla,"Blanca Suárez, Iván Marcos, Óscar Casas, Adriá...",Thailand,"September 22, 2021",2021,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...","In the 1960s, a Holocaust survivor joins a gro..."
20,s21,TV Show,Monsters Inside: The 24 Faces of Billy Milligan,Olivier Megaton,"Mranal Bhikshu, Hardik Bathija, Hrishikesh Shukla",Thailand,"September 22, 2021",2021,TV-14,1 Season,"Crime TV Shows, Docuseries, International TV S...","In the late 1970s, an accused serial rapist cl..."
21,s22,TV Show,Resurrection: Ertugrul,Parth Shukla,"Engin Altan Düzyatan, Serdar Gökhan, Hülya Dar...",Turkey,"September 22, 2021",2018,TV-14,5 Seasons,"International TV Shows, TV Action & Adventure,...",When a good deed unwittingly endangers his cla...
22,s23,Movie,Avvai Shanmughi,K.S. Ravikumar,"Kamal Hassan, Meena, Gemini Ganesan, Heera Raj...",Thailand,"September 21, 2021",1996,TV-PG,161 min,"Comedies, International Movies",Newly divorced and denied visitation rights wi...
23,s24,Movie,Go! Go! Cory Carson: Chrissy Takes the Wheel,"Alex Woo, Stanley Moore","Maisie Benson, Paul Killam, Kerry Gudjohnsen, ...",Thailand,"September 21, 2021",2021,TV-Y,61 min,Children & Family Movies,From arcade games to sled days and hiccup cure...
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,"September 21, 2021",1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...
25,s26,TV Show,Love on the Spectrum,Parth Shukla,Brooke Satchwell,Australia,"September 21, 2021",2021,TV-14,2 Seasons,"Docuseries, International TV Shows, Reality TV",Finding love can be hard for anyone. For young...
26,s27,Movie,Minsara Kanavu,Rajiv Menon,"Arvind Swamy, Kajol, Prabhu Deva, Nassar, S.P....",Thailand,"September 21, 2021",1997,TV-PG,147 min,"Comedies, International Movies, Music & Musicals",A tangled love triangle ensues when a man fall...
27,s28,Movie,Grown Ups,Dennis Dugan,"Adam Sandler, Kevin James, Chris Rock, David S...",United States,"September 20, 2021",2010,PG-13,103 min,Comedies,Mourning the loss of their beloved junior high...
28,s29,Movie,Dark Skies,Scott Stewart,"Keri Russell, Josh Hamilton, J.K. Simmons, Dak...",United States,"September 19, 2021",2013,PG-13,97 min,"Horror Movies, Sci-Fi & Fantasy",A family’s idyllic suburban life shatters when...
29,s30,Movie,Paranoia,Robert Luketic,"Liam Hemsworth, Gary Oldman, Amber Heard, Harr...","United States, India, France","September 19, 2021",2013,PG-13,106 min,Thrillers,"Blackmailed by his company's CEO, a low-level ..."
...,...,...,...,...,...,...,...,...,...,...,...,...
8777,s8778,Movie,Yes or No,Saratswadee Wongsomphet,"Sushar Manaying, Supanart Jittaleela, Arisara ...",Thailand,"December 6, 2018",2010,TV-PG,111 min,"International Movies, LGBTQ Movies, Romantic M...",Traditional girl Pie is initially uncomfortabl...
8778,s8779,Movie,Yes or No 2,Saratswadee Wongsomphet,"Supanart Jittaleela, Sushar Manaying, Nisa Boo...",Thailand,"November 8, 2018",2012,TV-PG,112 min,"International Movies, LGBTQ Movies, Romantic M...","No longer university girls, Kim and Pie face n..."
8779,s8780,Movie,Yes or No 2.5,Kirati Nakintanon,"Supanart Jittaleela, Pimpakan Bangchawong, Cha...",Thailand,"November 8, 2018",2015,TV-PG,107 min,"International Movies, LGBTQ Movies, Romantic M...",Roommates Wine and Pie find their lives turned...
8780,s8781,TV Show,Yo-Kai Watch,Parth Shukla,"Johnny Yong Bosch, J.W. Terry, Alicyn Packard,...",United States,"April 1, 2016",2015,TV-Y7,1 Season,"Anime Series, Kids' TV",Nate frees a mythical being trapped in a magic...
8781,s8782,Movie,Yo-Kai Watch: The Movie,Mark Risley,"Johnny Yong Bosch, Joey D'Auria, Alicyn Packar...","Japan, United States","December 1, 2016",2016,TV-Y7,96 min,"Anime Features, Children & Family Movies",Nate's special Yo-Kai Watch is missing. He tra...
8782,s8783,Movie,Yoga Hosers,Kevin Smith,"Harley Quinn Smith, Lily-Rose Depp, Johnny Dep...",United States,"December 2, 2016",2016,PG-13,88 min,"Comedies, Horror Movies, Independent Movies",With an all-important high school party at sta...
8783,s8784,TV Show,Yoko,Parth Shukla,"Eileen Stevens, Alyson Leigh Rosenfeld, Sarah ...",Thailand,"June 23, 2018",2016,TV-Y,1 Season,Kids' TV,"Friends Mai, Oto and Vik's games at the park b..."
8784,s8785,Movie,Yoko and His Friends,Parth Shukla,"Eileen Stevens, Alyson Leigh Rosenfeld, Sarah ...","Russia, Spain","June 23, 2018",2015,TV-Y,78 min,Children & Family Movies,"Vik meets new friends in a new city, where the..."
8785,s8786,TV Show,YOM,Parth Shukla,"Sairaj, Devyani Dagaonkar, Ketan Singh, Mayur ...",Thailand,"June 7, 2018",2016,TV-Y7,1 Season,Kids' TV,"With the mind of a human being, and the body o..."
8786,s8787,Movie,You Can Tutu,James Brown,"Lily O'Regan, Jeannettsy Enriquez Borges, Joel...",United Kingdom,"December 31, 2017",2017,TV-G,87 min,Children & Family Movies,A gifted young ballet dancer struggles to find...
8787,s8788,Movie,You Can’t Fight Christmas,Kenny Young,"Brely Evans, Andra Fuller, Persia White, Porsc...",United States,"December 19, 2017",2017,TV-PG,85 min,"Comedies, Romantic Movies",After stepping in to revitalize his family's h...
8788,s8789,Movie,You Carry Me,Ivona Juka,"Lana Baric, Vojislav Brajovic, Natasa Janjic, ...","Croatia, Slovenia, Serbia, Montenegro","July 1, 2016",2015,TV-MA,157 min,"Dramas, International Movies","A soap opera producer, director and makeup art..."
8789,s8790,Movie,You Changed My Life,Cathy Garcia-Molina,"John Lloyd Cruz, Sarah Geronimo, Rayver Cruz, ...",Philippines,"February 27, 2019",2009,TV-PG,116 min,"Comedies, Dramas, International Movies",Laida and Miggy think they've found perfect ha...
8790,s8791,Movie,You Don't Mess with the Zohan,Dennis Dugan,"Adam Sandler, John Turturro, Emmanuelle Chriqu...",United States,"September 1, 2019",2008,UR,113 min,"Action & Adventure, Comedies",An Israeli counterterrorism soldier with a sec...
8791,s8792,Movie,Young Adult,Jason Reitman,"Charlize Theron, Patton Oswalt, Patrick Wilson...",United States,"November 20, 2019",2011,R,94 min,"Comedies, Dramas, Independent Movies",When a divorced writer gets a letter from an o...
8792,s8793,Movie,Young Tiger,Mu Chu,"Qiu Yuen, Charlie Chin, Jackie Chan, Hu Chin, ...",Hong Kong,"November 1, 2016",1973,NR,81 min,"Action & Adventure, International Movies","Aided only by a tough female police officer, a..."
8793,s8794,Movie,"Yours, Mine and Ours",Raja Gosnell,"Dennis Quaid, Rene Russo, Sean Faris, Katija P...",United States,"November 20, 2019",2005,PG,88 min,"Children & Family Movies, Comedies",When a father of eight and a mother of 10 prep...
8794,s8795,Movie,اشتباك,Mohamed Diab,"Nelly Karim, Hany Adel, Tarek Abdel Aziz, Ahme...","Egypt, France","October 11, 2018",2016,TV-14,98 min,"Dramas, Independent Movies, International Movies",Amid the tumult following Egyptian President M...
8795,s8796,TV Show,Yu-Gi-Oh! Arc-V,Parth Shukla,"Mike Liscio, Emily Bauer, Billy Bob Thompson, ...","Japan, Canada","May 1, 2018",2015,TV-Y7,2 Seasons,"Anime Series, Kids' TV",Now that he's discovered the Pendulum Summonin...
8796,s8797,TV Show,Yunus Emre,Parth Shukla,"Gökhan Atalay, Payidar Tüfekçioglu, Baran Akbu...",Turkey,"January 17, 2017",2016,TV-PG,2 Seasons,"International TV Shows, TV Dramas","During the Mongol invasions, Yunus Emre leaves..."
8797,s8798,TV Show,Zak Storm,Parth Shukla,"Michael Johnston, Jessica Gee-George, Christin...","United States, France, South Korea, Indonesia","September 13, 2018",2016,TV-Y7,3 Seasons,Kids' TV,Teen surfer Zak Storm is mysteriously transpor...
8798,s8799,Movie,Zed Plus,Chandra Prakash Dwivedi,"Adil Hussain, Mona Singh, K.K. Raina, Sanjay M...",India,"December 31, 2019",2014,TV-MA,131 min,"Comedies, Dramas, International Movies",A philandering small-town mechanic's political...
8799,s8800,Movie,Zenda,Avadhoot Gupte,"Santosh Juvekar, Siddharth Chandekar, Sachit P...",India,"February 15, 2018",2009,TV-14,120 min,"Dramas, International Movies",A change in the leadership of a political part...
8800,s8801,TV Show,Zindagi Gulzar Hai,Parth Shukla,"Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...",Pakistan,"December 15, 2016",2012,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ...","Strong-willed, middle-class Kashaf and carefre..."
8801,s8802,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan","March 9, 2016",2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,Parth Shukla,"Mranal Bhikshu, Hardik Bathija, Hrishikesh Shukla",Thailand,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [137]:
df1.duplicated().sum()

0